[www]
user = deploy
group = www-data
listen = /var/run/php7.1-fpm.sock
listen.backlog = 511
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 25
pm.start_servers = 6
pm.min_spare_servers = 6
pm.max_spare_servers = 12
pm.max_requests = 600

